{% extends 'base.html' %}

{% block title %}
    <title> Reksadana Prediction </title>
{% endblock title %}

{% block content %}
    <nav>
        <div class="nav-brand">
            <p>PREDIKSI REKSADANA</p>
        </div>
        <ul class="nav-menu">
            <li><a href="#home">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#predict">PREDICTION</a></li>
            <li><a href="#contactus">CONTACT US</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <main>
        <div id="home">
            <div class="homeright">
                <div class="judul">
                    <h1>Berinvestasi Reksadana? Siapa Takut!</h1>
                    <p>Yuk prediksikan Nilai Aktiva Bersih(NAB)<br>Reksadana Konvensional<br></p>
                </div>
                <div class="homebutton">
                    <div class="regist">
                        <a href="#predict"><button class = "register">Prediksikan NAB</button></a>
                    </div>
                </div>
            </div>
        </div>
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 119">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
        <div id="about">
            <div>
                <h1>APA ITU REKSADANA?</h1>
                <p>Merujuk pada UU Pasar Modal Nomor 8 Tahun 1995, reksadana adalah wadah yang dipergunakan untuk menghimpun dana 
                    dari masyarakat pemodal untuk selanjutnya diinvestasikan dalam portofolio efek oleh manajer investasi. Manajer 
                    investasi atau yang biasa disebut MI akan mengumpulkan dana dari para investor untuk kemudian dikelola dalam 
                    penempatan investasi yang ada di pasar modal maupun pasar uang.</p>
            </div>
        </div>
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 119" class="blue">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
        <div id="predict">
            <h3>PREDIKSI REKSADANA</h3>
            <div class="contact-right">
                <div class="contactus-form">
                    {% csrf_token %}
                    <label for="ihsg">IHSG</label>
                    <input type="number" class="form-control" id="ihsg" aria-describedby="emailIHSG" placeholder="Enter IHSG">
                    <label for="unit">Unit</label>
                    <input type="number" class="form-control" id="unit" placeholder="Unit">
                    <button id="submit" class="register">Submit</button>
                    <p style="margin-top: 20px;" id="result">Prediksi NAB : </p>
                </div>
            </div>
        </div>
    </main>
    <div>
        <footer class="footer">
            <div id="foot-left">
                <p id="brand">PREDIKSI REKSADANA</p>
                <p id="desc">Copyright &#169 2021 Kelompok 6 ITS-01.</p>
            </div>
        </footer>
    </div>
{% endblock content %}